NODE_ENV=development
STAC_PORT=5004
ATLAS_URI=mongodb+srv://username:password@cluster.mongodb.net/VolcAshDB?retryWrites=true&w=majority
BASE_URL=http://localhost:5004
API_BASE_URL=http://localhost:5001/api
BACK_END_URL=http://localhost:5001